body {

  font-family: "Times New Roman";
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  overflow: hidden;
  align-items: center;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(97%2c 104%2c 252%2c 0.85)'%3e%3c/rect%3e%3ccircle r='93.335' cx='34.48' cy='-80.75' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='393.51' cy='370.62' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='820.89' cy='684.2' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='125.065' cx='640' cy='115.6' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='103.145' cx='1305.88' cy='304.02' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='134.19' cx='144.11' cy='554.15' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='128.735' cx='271.45' cy='153.31' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='86.315' cx='1099.91' cy='307.89' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.445' cx='779.43' cy='87.04' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='129.79' cx='1309.37' cy='382.36' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='144.025' cx='1369.7' cy='132.38' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='143.385' cx='1280.47' cy='458.62' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='175.21' cx='1416.99' cy='535.32' stroke='%23f8bdda' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1032'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
#box {
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 2px 2px #fa8dfa84;
  color:#81386A;
  width: 600px;
  text-align: center;
  margin: 40px auto;
}
#but {
  display: flex;
  justify-content: center;
}
button {
  background-color: #FF349A;
  color: #000000;
  border: none;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  margin: 6px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(123, 154, 191);
  transition: all 0.2s;
  font-weight: 600;
}
button:hover {
  background-color:  #f32e90;
}
button:active{
  background-color: #f10c77;

  
}
